\.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: rem;

}

\.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #030c1f;
  color: rgb(117, 2, 2)
}


\.logo  {
  width: 80%;
  height: auto;
}

h1 {
  font-size: 48px;
  text-align: left;
}
p {
  font-size: 22px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 22px;
}

th {
  background-color: rgb(47, 167, 227);
}

td {
  background-color: rgb(236, 238, 238);
}


body {
  background-color: #dcdcdc;
}

button {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(4, 19, 106);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}







form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;

} 